@keyframes tooltip_background_scrolling {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 20em 10em;
    }
}
@keyframes location_title_ready {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}